<body style="background-color:Azure;"></body>

{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
<h1 style="text-align:center;">Estimado participante</h1>
{% endblock %}

{% block content %}

    <p>
        Le expreso mi agradecimiento por su interés en querer participar en este estudio científico. Asimismo, le extiendo el aviso de que puede compartir mi correo o número de celular a un vecino contribuyente de su distrito para participar y tener la opción de que gane S/50.00.
        <br>Si en caso desee participar nuevamente entonces puede comunicarse directamente al número o a la página de facebook "ExPsy"
        <p>
        Sin otro particular
        <p>
        <i>Atentamente</i>
       <footer>
    <i>Nixon Bautista Medina
        <br>991312331
        <br>Página de facebook: ExPsy</i>
  <p><a href="mailto:nixon.bautista@unmsm.edu.pe">nixon.bautista@unmsm.edu.pe</a></p>
</footer>
    </p>

{% endblock %}
