<body style="background-color:Azure;"></body>

{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
<h1 style="text-align:center;">PSICOLOGÍA DE LO COTIDIANO</h1>
{% endblock %}

{% block content %}
<br>
<p style="text-align:center;"><i>Recuerde que decidirá las siguientes preguntas en base al monto ganado (S/50.00). Son preguntas cotidianas, evite reflexionar muchos minutos con las alternativas.</i>

    </p>

    {% formfields %}

<h1 style="text-align:center;">{% next_button %}</h1>

{% endblock %}
